#Omitir carpeta .vscode
*.vscode

#Omitir carpeta .idea
.idea

#Omitir ejecutable
*.exe


#omitir archivo .py
*.py

#omitir archivo rutas
rutas.txt

#omitir archivo .dat
*.dat

#Omitir archivo rutas .txt
rutas.txt